body{
  background-color: #363666;
  background-image: url(pic2.jpg);
  background-position: top;
  background-repeat: no-repeat;
}
.container{
  width: 700px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.8);
  text-align: center;
  box-shadow: 0 15px 25px rgba(0,0,0,.9);
  border-radius: 10px;
}
.describtion{
  color: white;
  font-size: 25px;
  font-weight: 100;
}
a{
  font-size: 25px;
  color: white;
}
a:hover{
   background-color: #FFCCCC;
}
